<h1>Triangle Test</h1>
<h2>Input 3 sides of a triangle</h2>
<form action='/results'>
  <div class="form-group">
    <label for="a">Side a:</label>
    <input class="form-control" type="text" id="a" name="a"></input>
    <label for="b">Side b:</label>
    <input class="form-control" type="text" name="b" id="b"></input>
    <label for="c">Side c:</label>
    <input class="form-control" type="text" name="c" id="c"></input>

  </div>
  <button type="submit" class="btn-success">Go</button>
</form>
